/*trade offer*/
.b-popup{
  text-align: center;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    z-index: 999999999999999;
    top:0px;
    left: 0px;
}
.b-popup .b-popup-content{
    margin:200px auto 0px auto;
    height:100%;
    max-width:500px;
    max-height: 375px;
    background-color: rgba(26, 31, 38, 0.97);
    border-radius:0px;
    box-shadow: 0px 0px 10px #000;
    position: relative;
}
.header-popup {
   padding: 25px;
   background: linear-gradient(52deg, #c92a25, #da2b26);
   font-size: 24px;
   color: #fff;
   font-weight: 600;
   margin-bottom: 35px;

}
.popup-main {
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

}
.popup-main .btn-sort {
  margin-top: 30px;
  line-height: 50px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.close-popup {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #333
 }

/*trade offer*/


.box_window{
  width:700px;
  position:fixed;
  top:15%;
  left:50%;
  margin-left:-350px;
  z-index:11;
  background: #fff;
  display:none;
  padding:20px;
  border-radius: 5px;
  background: url('/img/bg2.jpg');
  text-align:center;
  color:white;
  font-size: 17px;
  border: solid white 1px;
}
.box_window_in {
  position: relative;
  overflow-y:auto;
}
.box_title {
  position: absolute;
  left: 0px;
  top: -30px;
  color: #fff;
  font-size:20px;
}
.bw_close{
  position:absolute;
  top: -25px;
  font-size: 10px;
  color: #fff;
  right:0px;
  cursor:pointer;
  z-index: 2;
}
.mask{
  position:fixed;
  background:rgba(0, 0, 0, 0.38);
  display:none;
  height:100%;
  width: 100%;
  z-index:10;
}
.to_blur.blur {
 -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
}